<h1><%= @artist.name %></h1>
<h2>
  <ul>
    <li><%= @artist.url %></li>
    <li><%= @artist.profile %></li>
  </ul>
</h2>
<%= render 'movie/new' %>
<%= render partial: 'movie/movie', collection: @movies %>

